

.catalagoFilmes {
    display: flex;
    justify-content: center;
    background: black;
    gap: 15px;
}
  
  .tituloFilme {
    color: white;
    font-size: 30px;
    font-weight: 600;
    margin: 10px 0px 14px 0px;
  
    strong {
      color: orange;
    }
  }
  
  .catalagoFilmeItens {
    display: flex;
    flex-direction: column;
    background-color: rgb(19, 17, 17);
    padding: 10px;
  }
  
  
  
  .gridFilmesLista {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
   
    gap: 14px;
  
  }